<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Acerca del Crud
  </h1>
</div>

<img src="img/picture.webp" alt="Laptop" width="473" height="316">
<p>Esta foto representa la idea de este Drud, para mantener un registro</p>

<div class="pt-3">
  <p>Este es un sistema simple de administración de usuarios para inventarios</p>
  <p>Echa un vistazo sobre los inventarios <a href="https://youtube.com/raddydev">.</a>..</p>
</div>
